extends layout

block content
  h1 Featured Works
    .wrap
      .box
        a(href='#')
          img(src='/img/secretshows.png')
        h4.featured-heading test
        p.featured-body Test Body
      .box
        a(href='#')
          img(src='/img/manager.png')
        h4.featured-heading test
        p.featured-body Test Body
      .box
        a(href='#')
          img(src='/img/secretshows.png')
          h4.featured-heading test
          p.featured-body Test Body
